<div class="col-md-8" style="margin: 0 auto;">
    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <div class="form-group text-center">
            <label for="id">ID</label>
            <input class="form-control" type="text" th:field="*{id}" id="id" readonly />
        </div>
        <div class="form-group text-center">
            <label for="firstName">Enter firstName: </label>
            <input class="form-control" type="text" th:field="*{firstName}" id="firstName" readonly />
            <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error</div>
        </div>
        <div class="form-group text-center">
            <label for="lastName">Enter lastName: </label>
            <input class="form-control" type="text" th:field="*{lastName}" id="lastName" readonly />
            <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</div>
        </div>
        <div class="form-group text-center">
            <label for="age">Age: </label>
            <input class="form-control" type="text" th:field="*{age}" id="age" readonly />
            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
        </div>
        <div class="form-group text-center">
            <label for="email">Enter email: </label>
            <input class="form-control" type="text" th:field="*{email}" id="email" readonly />
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </div>
        <div class="form-group text-center">
            <label for="password">Enter password: </label>
            <input class="form-control" type="text" th:field="*{password}" id="password" readonly />
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        </div>
        <div class="form-group text-center">
            <label for="role" id="role">Role: </label>
            <select name="roles" class="custom-select" size="3" disabled>
<!--                selected-->
                <option th:each="role: ${roles}" th:attr="value=${role.getId()}" th:text="${role.getName()}"
                        th:selected="${user.getRoles().contains(role)}">Value</option>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{role}">Role Error</div>
        </div>
    </form>
</div>
