<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        article > table {
            border: 1px solid gray;
            border-spacing: 10px;
        }
    </style>
    <link th:href="@{/css/admin/index.css}" rel="stylesheet" media="screen" />
</head>
<body>

<div class="col" layout:fragment="content">
    <h2 class="my-3">Admin panel</h2>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
            <a class="nav-item nav-link" id="nav-new-user-tab" data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="false">New User</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="border">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">All Users</h4>
                </div>
                <div class="p-4" id="js-users-table-container"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
            <div class="border">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">New User</h4>
                </div>
                <div class="col-md-3" id="js-new-user-container"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary confirm">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/admin/index.js}"></script>
</th:block>
</body>
</html>