<!doctype html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/dashboard.css}" />
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
<!--                <a class="nav-link" href="#">Sign out</a>-->
                <form th:method="POST" th:action="@{/users/logout}">
                    <input class="btn btn-link btn-dark-text" type="submit" value="Logout"/>
                </form>
            </li>
        </ul>
    </nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <div class="list-group">
                    <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/admin/index}" class="list-group-item list-group-item-action" th:classappend="${currentPage == 'admin_index' ? 'active' : ''}">
                        Admin
                    </a>
                    <a th:href="@{/users}" class="list-group-item list-group-item-action" th:classappend="${currentPage == 'user_index' ? 'active' : ''}">User</a>
                </div>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="col" layout:fragment="content"></div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>

    <th:block layout:fragment="scripts" />
</body>
</html>
